.wx-table {
    border-collapse: collapse;
    width: 100%;
}

.wx-table th, .wx-table td {
    padding: 5px 10px;
}

.wx-table-head tr {
    background-color: grey;
}

.wx-table-body tr:nth-child(odd) {
    background-color: gainsboro;
}

.wx-table-body tr:nth-child(even) {
    background-color: ghostwhite;
}

.wx-table-body tr:hover {
    background-color: lightblue;
}
